CACHE MANIFEST
{WARNING}
# Angry Ponies id #{MANIFEST_ID}
# Note: must change this every time for cache to invalidate

CACHE:
# Ponified assets
{ASSET_URLS}

# All other resources require the user to be online.
NETWORK:
*

