CACHE MANIFEST
# Angry Ponies id #{MANIFEST_ID}
# Note: must change this every time for cache to invalidate

# Ponified assets
CACHE:
{ASSET_URLS}

# All other resources require the user to be online.
NETWORK:
*

